@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rammetto+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif !important;
}

body {
  background: #001f3f !important;
  color: #d9d9d9 !important;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem;
}
.hero-container {
  p {
    font-family: "Rammetto One", sans-serif;
    text-align: center;
  }
  div {
    text-align: center;
    margin-top: 0.6rem;

    button {
      padding: 6px 27px;
      font-weight: bold;
      color: #d9d9d9;
      background: transparent;
      border: 2px solid #d9d9d9;
      border-radius: 5px;
    }
  }
}

.line {
  max-width: 70px;
}

.rate-container {
  margin: 15px;
  margin-top: 10rem;

  > div {
    margin-bottom: 1.2rem;
  }

  .rate1 {
    text-align: center;
    p {
      text-align: center;
      padding: 1rem;
      font-weight: bold;
      font-size: 18px;
    }
  }
}

.cars-container {
  margin: 15px;
  margin-top: 5rem;
}

.car-details {
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  padding: 10px;

  p {
    font-size: 20px;
  }
}

.car1 {
  margin-bottom: 1rem;
}

.why-choose-us {
  margin: 15px;
  margin-top: 4rem;
}

.service {
  margin: 15px;
  margin-top: 4rem;
}

.contact {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

footer{
  text-align: center;
  background-color: #D9D9D9;
  color: #001F3F;
  

}